* {
    margin: 0;
    padding: 0;
}

.basebg {
    background-color: rgb(101, 179, 239);
    width: 100vw;
    height: 100vh;
    padding-top: 35vh;
    box-sizing: border-box;
    color: white;
}


/* single_quiz css  */
.quizclass {
    background-color: #252d4a;
    width: 35vw;
    height: 30vh;
    border-radius: 10px;
    position: relative;
    margin: auto;
    /* z-index: 1000000000;
    transform-style: preserve-3d; */
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    padding: 15px 1.5rem;
    box-sizing: border-box;
}

.mylist {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.quiz_question {
    display: flex;
    width: 14vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 3vh;
    box-sizing: border-box;
}

.quiz_heading {
    display: flex;
    justify-content: center;
    text-align: center;
}

.options {
    width: 14vw;
    height: 2.3rem;
    border: 4px solid rgb(34, 77, 104, .7);
    padding: 3px 10px;
    box-sizing: border-box;
    border-radius: 15px;
    cursor: pointer;
}

.options:hover {
    background-color: #555e7d;
}

/* score elemet stylesheet */

.scoreinnerclass {
    width: 100%;
    height: 100%;
    text-align: center;
}